.countdown {
  width: 400px;

  .countdown-label {
    width: 85px;
    background-color: $primary;
    margin: 10px;
    padding: 10px;
    border-radius: 15%;

    h4, p {
      margin: 0;
    }

  }

}

@media (max-width: 500px) {
  .countdown{
    width: 300px;

    .countdown-label {
      width: 70px;
    }

    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }
}