.image-card {
  height: 491px;
  .image {
    height: 491px;
  }
  .no-padding {
    padding: 0;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      // font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include gv-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include gv-font;
    }
  }
}
@media (min-width: 768px) {
  .image-card {
    height: 759px;
    .image {
      height: 759px;
    }
    .img-bg {
      opacity: 0.8;
      background-color: #f3f2f2;
    }
    .intro-text {
      padding-top: 200px;
      padding-bottom: 200px;
      .circle {
        width: 225px;
        height: 225px;
        // border: 7px solid fade-out($primary, 0.9);
        opacity: 0.7;
        margin-bottom: 25px;
      }
      .intro-lead-in {
        font-size: 40px;
        // font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include gv-font;
      }
      .intro-heading {
        font-size: 55px;
        // font-weight: 700;
        font-weight: 500;
        line-height: 75px;
        margin-bottom: 25px;
        @include gv-font;
      }
    }
  }
}
