.password-modal {
  text-align: center !important;
  background-color: #d1c6cf;
  .modal-content {
    border: 0;
    background-color: #d1c6cf;
  }
  .password-modal-header {
    background-color: #d1c6cf;
    border-bottom: 0;
    margin: auto;
    h1 {
      @include gv-font;
    }
  }
  .password-modal-body {
    background-color: #d1c6cf;
    .password-form {
      min-width: 100%;
      .password-input {
        input {
          display: block;
          width: 100%;
          max-width: 600px;
          padding: .5rem .8rem .5rem .8rem;
          margin: auto;
          font-size: 20px;
        }
      }
      .password-submit {
        Button {
          width: 250px;
          margin: .9vw 0;
        }
      }
    }
  }
  .password-modal-footer{
    background-color: #d1c6cf;
    border-top: 0;
    margin: auto;
  }
  

}
