.password-container {
  text-align: center;
  background-color: #d1c6cf;
  .password-form {
    padding: 200px;
    h2 {
      font-size: 40px;
      @include gv-font;
    }
    .password-input {
      clear: both;
      padding: 20px;
      input {
        width: 300px;
        border: 0;
      }
    }
    .password-submit {
      clear: both;
      Button {
        width: 300px;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 400;
      padding-top: 10px;
    }
  }

}
