.rsvp-form {
  font-size: 20px;

  .guestItem {
    padding: 5px 0;
    .name {
      display: inline-block;
      width: 400px;
      padding-right: 20px;
    }
    .attending {
      display: inline-block;
      .attending-label {
        font-weight: 600;
        padding-right: 5px;
      }
    }
  }
  
  .plus-one {
    border-top: 1px solid gray;
    padding: 20px 0;
    margin: 20px 0;
    text-align: center;
    min-width: 100%;
    h3 {
      padding: 20px 0 0;
    }
  }
  
  .children-dropdown {
    border-top: 1px solid;
    padding: 20px 0;
    margin: 20px 0 0;
    .child-num-dropdown {
      // margin: 20px 0;
      width: 50%;
    }
    .child-name-input {
      margin: 20px 0;
    }
  }
  
  .event-summary {
    border-top: 1px solid gray;
    font-size: 20px;
    min-width: 100%;
    margin: 20px 0 0;
    h2 {
      text-align: center;
      padding-top: 20px;
    }
    input {
      display: block;
      width: 100%;
      padding: .5rem .8rem .5rem .8rem;
      margin: .9vw 0;
      border-radius: 5px;
      font-size: 20px;
    }
    Button {
      // padding: .5rem .8rem .5rem .8rem;
      margin: .9vw 0;
    }
  }

}

@media (min-width: 767px) {
  .rsvp-form {
    font-size: 20px;
  
    .guestItem {
      padding: 5px 0;
      .name {
        display: inline-block;
        width: 400px;
        padding-right: 20px;
      }
      .attending {
        display: inline-block;
        .attending-label {
          font-weight: 600;
          padding-right: 5px;
        }
      }
    }
    
    .plus-one {
      border-top: 1px solid;
      padding: 20px 0;
      margin: 20px 0;
      text-align: center;
      min-width: 100%;
      h3 {
        padding: 20px 0 0;
      }
    }
    
    .children-dropdown {
      .child-num-dropdown {
        width: 30%;
      }
    }
    
    .event-summary {
      border-top: 1px solid;
      font-size: 20px;
      min-width: 100%;
      margin: 20px 0 0;
      h2 {
        text-align: center;
        padding-top: 20px;
      }
      input {
        display: block;
        width: 100%;
        padding: .5rem .8rem .5rem .8rem;
        margin: .9vw 0;
        border-radius: 5px;
        font-size: 20px;
      }
      Button {
        // padding: .5rem .8rem .5rem .8rem;
        margin: .9vw 0;
      }
    }
  
  }
}


