.section-header {
  h2.section-heading {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 25px;
    color: $primary;
    @include gv-font;
  }

  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    @include serif-font;
  }
}